<robot name = "robot">
    <link name="Start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 -0.678064926639201" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.678064926639201" rpy="0 0 0"/>
            <geometry>
                <box size="1.7076403561926312 1.2016177807743802 1.356129853278402" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.678064926639201" rpy="0 0 0"/>
            <geometry>
                <box size="1.7076403561926312 1.2016177807743802 1.356129853278402" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0 -0.20880096382522578" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.20880096382522578" rpy="0 0 0"/>
            <geometry>
                <box size="1.9865781419169173 1.7479037518315217 0.41760192765045157" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.20880096382522578" rpy="0 0 0"/>
            <geometry>
                <box size="1.9865781419169173 1.7479037518315217 0.41760192765045157" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.9427965281195136 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.9427965281195136 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8855930562390273 0.4670063051161376 0.4505472436327163" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.9427965281195136 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8855930562390273 0.4670063051161376 0.4505472436327163" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 -0.894231100748672" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.894231100748672" rpy="0 0 0"/>
            <geometry>
                <box size="0.7460633196792517 1.257645091058407 1.788462201497344" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.894231100748672" rpy="0 0 0"/>
            <geometry>
                <box size="0.7460633196792517 1.257645091058407 1.788462201497344" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0 0.7693575897638785" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7693575897638785" rpy="0 0 0"/>
            <geometry>
                <box size="1.735918310747642 1.0644085514316852 1.538715179527757" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7693575897638785" rpy="0 0 0"/>
            <geometry>
                <box size="1.735918310747642 1.0644085514316852 1.538715179527757" />
            </geometry>
        </collision>
    </link>
    <link name="Link8">
        <inertial>
            <origin xyz="0 0 -0.5223881269927215" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5223881269927215" rpy="0 0 0"/>
            <geometry>
                <box size="0.8669407999623442 1.5189784560593584 0.9003603775432492" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5223881269927215" rpy="0 0 0"/>
            <geometry>
                <box size="0.8669407999623442 1.5189784560593584 0.9003603775432492" />
            </geometry>
        </collision>
    </link>
    <link name="Link9">
        <inertial>
            <origin xyz="0 0.5886329018943045 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5886329018943045 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6516772594040279 1.177265803788609 1.6730301956030909" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5886329018943045 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6516772594040279 1.177265803788609 1.6730301956030909" />
            </geometry>
        </collision>
    </link>
    <joint name="Start_Link1" type="revolute">
       <parent link="Start"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 -1.356129853278402" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.9932890709584586 0 -0.20880096382522578" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.9427965281195136 0 -0.8470321239468943" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link5" type="revolute">
       <parent link="Link3"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.9427965281195136 0 0.8470321239468943" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link8" type="revolute">
       <parent link="Link4"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0 -1.788462201497344" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link8_Link9" type="revolute">
       <parent link="Link8"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0 0.7594892280296792 -0.5223881269927215" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>