<robot name = "robot">
    <link name="Start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.7755555202687354 1.4542073176366395" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.7755555202687354 1.4542073176366395" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.5299857667207379 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5299857667207379 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8760162531614937 0.6353518991907352 0.9391204795650361" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5299857667207379 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8760162531614937 0.6353518991907352 0.9391204795650361" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0 0.9003703749556335" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9003703749556335" rpy="0 0 0"/>
            <geometry>
                <box size="0.95819773076701 0.98680882561835 1.3829004874443531" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9003703749556335" rpy="0 0 0"/>
            <geometry>
                <box size="0.95819773076701 0.98680882561835 1.3829004874443531" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 -0.735812348742814 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.735812348742814 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.993590536095618 1.471624697485628 1.8582131835104905" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.735812348742814 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.993590536095618 1.471624697485628 1.8582131835104905" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0.9537280772548464 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9537280772548464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5705909832760687 0.9781745532390533 1.114034592809385" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9537280772548464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5705909832760687 0.9781745532390533 1.114034592809385" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0 -0.196717974910957" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.196717974910957" rpy="0 0 0"/>
            <geometry>
                <box size="0.3882665464414199 0.9706856321371817 0.393435949821914" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.196717974910957" rpy="0 0 0"/>
            <geometry>
                <box size="0.3882665464414199 0.9706856321371817 0.393435949821914" />
            </geometry>
        </collision>
    </link>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0 -0.9066790824295589" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9066790824295589" rpy="0 0 0"/>
            <geometry>
                <box size="0.3791331900300262 1.7579807439256812 1.8133581648591177" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9066790824295589" rpy="0 0 0"/>
            <geometry>
                <box size="0.3791331900300262 1.7579807439256812 1.8133581648591177" />
            </geometry>
        </collision>
    </link>
    <link name="Link7">
        <inertial>
            <origin xyz="0 -0.7749667330807363 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.7749667330807363 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3642186180669087 1.5499334661614725 1.9262627210565832" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.7749667330807363 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3642186180669087 1.5499334661614725 1.9262627210565832" />
            </geometry>
        </collision>
    </link>
    <link name="Link8">
        <inertial>
            <origin xyz="0 0.3310630720025759 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3310630720025759 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4886731034106473 0.6621261440051518 0.22880211330657257" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3310630720025759 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4886731034106473 0.6621261440051518 0.22880211330657257" />
            </geometry>
        </collision>
    </link>
    <joint name="Start_Link1" type="revolute">
       <parent link="Start"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.5 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Start_Link2" type="revolute">
       <parent link="Start"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0 0.5" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 -0.32372737663009826 0.9003703749556335" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.479098865383505 0 0.9003703749556335" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.9537280772548464 0 -0.5570172964046926" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link6" type="revolute">
       <parent link="Link1"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="-0.5299857667207379 0 -0.46956023978251804" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link7" type="revolute">
       <parent link="Link4"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0.9537280772548464 -0.48908727661952667 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link8" type="revolute">
       <parent link="Link4"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0.9537280772548464 0.48908727661952667 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>